.alert {
  padding: 15px;
  background: #f5f2a6;
  border: 1px solid #c4c286;
}

.wrap {
  padding: 15px;
}
.wrap.fixed,
.wrap.absolute {
  top: 20px;
  left: 0;
  right: 0;
}
.wrap.fixed {
  position: fixed;
}
.wrap.absolute {
  position: absolute;
}
